APP_NAME="Python eKYC Service"
DEBUG=true
DEVICE="cpu"

MODEL_DIR="./models"
INSIGHTFACE_MODEL_NAME="buffalov"

FACE_MATCH_THRESHOLD=0.45
LIVENESS_PASSIVE_THRESHOLD=0.80
OCR_MIN_CONFIDENCE=0.85
FULLNAME_FUZZY_THRESHOLD=0.90
IMAGE_BLUR_THRESHOLD=100.0

MAX_VIDEO_DURATION_SEC=10.0
VIDEO_FRAME_SAMPLING_RATE=10
ALLOWED_ORIGINS="*"
